<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">Open Form</button>
    <h1>{{ 'Nilai  : ' + hasil}}</h1>
    <h1>{{ 'Average : '}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>

   var vm = new Vue({
      el: '#app',
      data: {
        a : 0 ,
        b : '' ,
        c : '' ,
        d : '' 
      }, 
      computed: {
        hasil: function() {
          return parseInt(this.a) + parseInt(this.b) + parseInt(this.c) + parseInt(this.d)
        },
      },
      methods : {
        openform : function(){
          this.a = prompt("Input your number")
          this.b = prompt("Input your number")
          this.c = prompt("Input your number")
          this.d = prompt("Input your number")
        }
      }
  })
  </script>
</body>
</html>
